{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "Rock Paper Scissors game using WebSockets",

  "Resources": {
    "RockPaperScissorsFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "rps-api::rps_api.Function::FunctionHandler",
        "Runtime": "dotnet8",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Role": null,
        "Policies": ["AWSLambdaBasicExecutionRole", "AmazonDynamoDBFullAccess"],
        "Events": {
          "WebSocketConnect": {
            "Type": "Api",
            "Properties": {
              "Path": "$connect",
              "Method": "GET",
              "RestApiId": {"Ref": "WebSocketApi"}
            }
          },
          "WebSocketDisconnect": {
            "Type": "Api",
            "Properties": {
              "Path": "$disconnect",
              "Method": "GET",
              "RestApiId": {"Ref": "WebSocketApi"}
            }
          },
          "WebSocketDefault": {
            "Type": "Api",
            "Properties": {
              "Path": "$default",
              "Method": "POST",
              "RestApiId": {"Ref": "WebSocketApi"}
            }
          }
        }
      }
    },
    "WebSocketApi": {
      "Type": "AWS::ApiGatewayV2::Api",
      "Properties": {
        "Name": "RockPaperScissorsWebSocketApi",
        "ProtocolType": "WEBSOCKET",
        "RouteSelectionExpression": "$request.body.action"
      }
    },
    "WebSocketStage": {
      "Type": "AWS::ApiGatewayV2::Stage",
      "Properties": {
        "ApiId": {"Ref": "WebSocketApi"},
        "StageName": "Prod",
        "AutoDeploy": true
      }
    }
  },

  "Outputs": {
    "WebSocketURI": {
      "Description": "The WSS Protocol URI to connect to",
      "Value": {
        "Fn::Sub": "wss://${WebSocketApi}.execute-api.${AWS::Region}.amazonaws.com/Prod"
      }
    }
  }
}