{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "Rock Paper Scissors game using WebSockets",

  "Resources": {
    "DeploymentBucket": {
      "Type": "AWS::S3::Bucket",
      "Properties": {
        "BucketName": "rps-api-deployment-bucket"
      }
    },
    "RockPaperScissorsFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "rps-api::rps_api.Function::FunctionHandler",
        "Runtime": "dotnet8",
        "MemorySize": 256,
        "Timeout": 30,
        "Events": {
          "WebSocketConnect": {
            "Type": "AWS::ApiGatewayV2::Route",
            "Properties": {
              "ApiId": {"Ref": "WebSocketApi"},
              "RouteKey": "$connect",
              "AuthorizationType": "NONE",
              "Target": {
                "Fn::Join": [
                  "/",
                  ["integrations", {"Ref": "WebSocketConnectIntegration"}]
                ]
              }
            }
          },
          "WebSocketDisconnect": {
            "Type": "AWS::ApiGatewayV2::Route",
            "Properties": {
              "ApiId": {"Ref": "WebSocketApi"},
              "RouteKey": "$disconnect",
              "AuthorizationType": "NONE",
              "Target": {
                "Fn::Join": [
                  "/",
                  ["integrations", {"Ref": "WebSocketDisconnectIntegration"}]
                ]
              }
            }
          },
          "WebSocketDefault": {
            "Type": "AWS::ApiGatewayV2::Route",
            "Properties": {
              "ApiId": {"Ref": "WebSocketApi"},
              "RouteKey": "$default",
              "AuthorizationType": "NONE",
              "Target": {
                "Fn::Join": [
                  "/",
                  ["integrations", {"Ref": "WebSocketDefaultIntegration"}]
                ]
              }
            }
          }
        }
      }
    },
    "WebSocketApi": {
      "Type": "AWS::ApiGatewayV2::Api",
      "Properties": {
        "Name": "RockPaperScissorsWebSocketApi",
        "ProtocolType": "WEBSOCKET",
        "RouteSelectionExpression": "$request.body.action"
      }
    }
  },

  "Outputs": {
    "WebSocketURI": {
      "Description": "The WSS Protocol URI to connect to",
      "Value": {
        "Fn::Sub": "wss://${WebSocketApi}.execute-api.${AWS::Region}.amazonaws.com/Prod"
      }
    }
  }
}
